.row-display {
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  float: none;
}
.row {
  margin-bottom: 0px;
}
.modal {
  background-color: transparent;
  max-height: 100%;
}
.modal-backdrop.show {
  opacity: 0.01;
}
.exists {
  color: red;
  text-decoration: line-through;
  font-style: italic;
  border-color: #007bff;
  background-color: transparent;
}