body,
a {
  font-family: Roboto !important;
}
#recipe-list {
  display: grid !important;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  gap: 0.5em;
}
.tabs {
  display: flex !important;
}
.tabs .tab a {
  padding: 0 12px !important;
  text-transform: capitalize;
  font-family: Oregano !important;
  font-size: 1.5em !important;
  color: #004d40 !important;
}
.tabs .tab a:hover,
.tabs .tab a:active,
.tabs .tab a:focus {
  background-color: rgb(0, 77, 64, 0.2) !important;
  color: #004d40 !important;
  text-decoration: none !important;
}
.tabs .indicator {
  background-color: #004d40;
}
.tabs-content.carousel.carousel-slider {
  height: 100% !important;
}
.vertical-scroll {
  overflow-y: scroll !important;
  height: 100% !important;
  margin-top: 0;
}
.col.s8.vertical-scroll {
  overflow-y: scroll !important;
  height: calc(var(--vh, 1vh) * 100) !important;
  max-width: 100%;
}
.user-boards {
  margin-left: -1rem !important;
  margin-right: 0rem !important;
  border-right: 1px solid #e0e0e0;
}
/* #board-collection {
  padding: 0px 6px;
  margin: 0rem 0rem 0rem 0.75rem;
}*/
.collection-message {
  /* margin-left: 0rem !important; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.collection-message > div {
  margin-left: 0rem !important;
  text-align: center;
}
.collection-message > .btn.red {
  width: 20rem;
}
.recipe-button {
  border-radius: 5%;
}
/* .recipe-button > .card-image,
.recipe-button > .card-content {
  height: 50%;
} */
.card-content > div {
  height: 25%;
}
.activator.card-title {
  /* font-size: 80% !important; */
  font-family: Oregano !important;
  line-height: initial !important;
  height: 60%;
}
.card-reveal > .card-title {
  /* font-size: 90% !important; */
  font-family: Oregano !important;
  line-height: initial;
  font-weight: 600;
  margin-bottom: 1 !important;
}
.card-reveal {
  padding: 5px !important;
}
/* #recipe-button-container {
  padding: 1rem;
  display: -webkit-inline-box;
} */
#recipe-button-container {
  /* padding: 1rem; */
  display: block;
  column-count: 2;
  column-gap: 0.2rem;
  width: 100%;
}
.shopping-list-item {
  padding: 0px 10px !important;
  line-height: inherit !important;
}
.shopping-list-check {
  display: flex;
  align-items: center;
  padding: .2rem 0;
}

[type="checkbox"]:checked+span:not(.lever):before{
  border-top: 4px solid transparent !important;
  border-left: 4px solid transparent !important;
  border-right: 4px solid #004d40 !important;
  border-bottom: 4px solid #004d40 !important;
}
.shopping-list-check > label > span {
  display: block !important;
  height: 0 !important;
  padding-left: 0 !important;
}
.shopping-list-item-name {
  padding-right: 0 !important;
  font-size: 1.1rem;
  margin: auto;
}
small.shopping-list-button {
  width: 3rem !important;
}
.shopping-list-button {
  line-height: 25px !important;
  height: 25px !important;
  padding: 0 !important;
}
.disabled {
  color: #b3b2b2 !important;
}
#add-fridge-section {
  margin: 0 !important;
  padding: 0px 20px !important;
}
#add-fridge-section > .input-field {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#fridge-collection {
  background-color: rgb(0, 77, 64, 0.2) !important;
}
.fridge-item-header {
  padding: 10px 20px !important;
  font-weight: bolder;
}
.fridge-item-header > .col.s1 {
  width: 5rem !important;
}
.fridge-item {
  padding: 0px 0px 0px 20px !important;
}
.fridge-item > .col.s9 {
  padding: 0px 0rem 0px 0.75rem !important;
  margin-left: 0rem !important;
}
.fridge-amount-needed {
  width: 4rem !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-left: 0rem !important;
}
.fridge-amount-have {
  width: 4rem !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-left: 0rem !important;
}
.fridge-remove-item-button {
  width: 2rem !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-left: 0rem !important;
}
.shopping-list-sort-buttons {
  padding: 0 1rem 0 0 !important;
}
.row-display {
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  float: none;
}
.row {
  margin-bottom: 0px;
}
.modal {
  background-color: #004d40bf;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: flex !important;
  align-items: center;
  width: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-backdrop.show {
  opacity: 0.01;
}
.modal .modal-content {
  padding: 0px;
}
.modal-title {
  margin: 0 !important;
  font-family: Oregano;
}
.modal-dialog {
  margin: auto;
  width: 75% !important;
}
#new-fridge-item {
  width: 90% !important;
}
#new-fridge-item > .modal-content {
  border: solid #004d40;
  border-radius: 10%;
  box-shadow: 1px 1px 12px 2px #004d40;
  box-shadow: inset 1px 1px 12px 2px silver;
}

.newItem-header {
  text-align: center;
  padding-top: 2%;
  font-family: Oregano;
  font-size: 1.8rem;
  color: #004d40;
}
.newItem-title{
  color: #004d40;
  text-align: center;
  font-family: Oregano;
  margin: 0;
  margin-top: 1rem;
}
.newItem-text {
  padding: 0% 5%;
  font-size: 0.8rem;
  text-align: center;
}
.newItem-row {
  align-items: flex-end;
  height: 7rem;
}
.newItem-column {
  padding: 1.5% !important;
  height: 100%;
}
.newItem-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: transparent !important;
  border-radius: 10%;
  font-size: 1em;
  color: #004d40;
  text-transform: lowercase !important;
}
.newItem-button:hover {
  box-shadow: 1px 1px 12px 2px #004d40;
}
.newItem-image {
  height: 75%;
}
.newItem-amt-row {
  flex-wrap: nowrap;
  /*Below is just for two row layout */
  justify-content: center;
  margin-bottom: 1rem;
}
.newItem-amt-col {
  display: flex;
  width: 20%;
  flex-direction: column;
  /* align-items: flex-start; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* border-top: solid 1px #004d40; */
  /* padding: 0.75rem 0 !important; */
  padding: 0.75rem  0 0 0 !important;

}
.newItem-amt {
  display: flex;
  font-size: 1.3rem;
  color: #004d40;
  padding-left: .5rem;
  /* padding-bottom: 1rem; */
  align-items: center;
  justify-content: flex-start;
}
.newItem-amt > input {
  height: 1rem !important;
  width: 100% !important;
  margin: 0 !important;
  text-align: center;
  padding: 0.3rem !important;
  border-width: 1px !important;
  border-style: inset !important;
  border-color: darkgreen !important;
  background: rgb(0 128 128 / 21%) !important;
}
.newItem-amt-col-divider {
  width: 100%;
  height: 0%;
  border-top: 1px solid #004d40;
  padding: unset !important;
}
.newItem-amt-divider {
  background-color: #004d40;
  display: flex;
  height: 14px;
  width: 20px;
  border-radius: 100%;
  padding: 0.5rem;
  box-shadow: 1px 1px 5px 1px darkslategrey;
  align-items: center;
}
.newItem-submit {
  width: 60%;
  height: 65%;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  background-color: #004d40;
  box-shadow: 1px 1px 12px 2px darkslategrey;
}
.newItem-submit:hover {
  box-shadow: 1px 1px 12px 2px #004d40;
}
.exists {
  color: red;
  text-decoration: line-through;
  font-style: italic;
  border-color: #007bff;
  background-color: transparent;
}
.col {
  /* -ms-flex-preferred-size: 0; */
  flex-basis: unset !important;
  /* -ms-flex-positive: 1; */
  flex-grow: unset !important;
  max-width: unset !important;
}
.valign-wrapper {
  flex-wrap: unset;
}
/* .submit-recipe-button {
float: right !important;
display: flex;
align-content: center;
} */
.btn,
.btn-large,
.btn-small {
  background-color: #004d40;
  text-transform: capitalize;
  font-size: 1em;
}
/* .list {
  display: inherit;
}
*/
.card-image > img {
  width: 100% !important;
  height: 100% !important;
  border-top-left-radius: 5% !important;
  border-top-right-radius: 5% !important;
}
/* .card-image {
  grid-row: 1 / 3;
  max-width: unset !important;
}
.card.horizontal {
  display: grid;
  grid-template-columns: 38% 62%;
  grid-template-rows: 75% 25%;
}
.card-stacked {
  grid-row: 1 / 2;
}
.card-stacked > a {
  text-align: center;
} */
.card .card-content {
  padding: 0.5em 0.5em 0 0.5em !important;
  white-space: normal;
  /* text-align: center; */
  /* font-family: Roboto; */
  line-height: initial;
}
.card-action {
  grid-row: 2 / 3;
  padding: 0px !important;
}
.card-action > .add-recipe-btn {
  height: 100%;
}
.add-recipe-btn {
  width: 100%;
  height: 100% !important;
  line-height: 25px !important;
  font-family: Oregano;
  font-size: 90%;
}
/* .horizontal-scroll {
  flex-wrap: unset;
  overflow: auto !important;
  white-space: nowrap;
  margin: 0 !important;
} */
/* .horizontal-scroll > .card {
  display: inline-flex
} */
.brand-font {
  font-family: Oregano !important;
  text-decoration: none !important;
}
.brand-logo {
  line-height: normal !important;
}
.brand-logo > i {
  font-size: 1.5rem !important;
  margin-right: 2px !important;
  line-height: 3rem !important;
}
.full-width {
  width: 100% !important;
}
.full-height {
  height: 100% !important;
}
.container.fridge {
  background-color: rgb(0, 77, 64, 0.2) !important;
  border: 2px;
}
.main-content {
  height: calc(var(--vh, 1vh) * 89);
  margin: 0 auto;
  max-width: 100%;
  padding: 0.5em 1em !important;
  overflow: auto;
}
.main-content-with-search {
  height: calc(var(--vh, 1vh) * 81.5);
  margin: 0 auto;
  max-width: 100%;
  padding: 0.5em 1em !important;
  overflow: auto;
}
.tabs-container {
  height: 90vh;
  overflow: visible;
}
.tabs-container > .row {
  height: 75%;
}
.collection-item.list-category {
  padding: 5px 10px !important;
  font-family: Oregano !important;
  font-size: 1.5em !important;
  color: #004d40 !important;
}
.meal-select-choice {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid darkgreen;
}
#my-recipes {
  margin: 0 0 1rem 0 !important;
}
#my-recipes > li > .collapsible-header {
  padding: 0.5rem !important;
}
span.badge {
  min-width: 1.5rem !important;
}
.dropdown-content,
.select-dropdown {
  transform: none !important;
  height: auto !important;
  top: 0 !important;
}
.dropdown-content > li {
  min-height: unset !important;
}
.dropdown-content > li > span {
  min-height: 35px;
  padding: 5px !important;
  color: #004d40 !important;
}
.meal-planner-row-heading {
  text-align: center;
  align-self: center;
  font-size: 1.25rem;
  color: darkgreen;
  font-weight: bold;
}
.meal-select > .input-field {
  margin: 0px !important;
}
/* #mobile-nav {
  background-color: rgb(0, 77, 64);
} */
.recipe-searchlist-title {
  font-family: Oregano !important;
  font-size: 1.5rem !important;
  padding: 0.5rem 0.75rem !important;
  align-self: center;
}
.collection-item.recipe-item {
  padding: unset !important;
  margin-bottom: 1rem !important;
  border-radius: 5%;
  border: 1px solid #e0e0e0;
  box-shadow: 0.1rem 0.1rem 0.5rem silver;
}

.bottom-navbar {
  height: calc(var(--vh, 1vh) * 6);
  margin: 0 auto;
  max-width: 100%;
  flex-wrap: nowrap !important;
  background-color: #004d40;
  align-items: center;
  justify-content: space-evenly;
}
.bottom-navbar > a {
  width: 100%;
  height: 100%;
  padding-top: 0.25rem;
}
.bottom-navbar > a > button > i {
  font-size: 2.5rem !important;
  color: #fff;
}
.sidenav-trigger,
nav {
  height: calc(var(--vh, 1vh) * 5) !important;
}
nav .sidenav-trigger i {
  line-height: 2.5rem;
}
.recipe-card {
  display: inline-block;
  padding: 0 0.25rem !important;
  width: 100%;
}
.card-content > .card-title {
  font-size: 1.15rem !important;
  font-family: Oregano !important;
  line-height: initial !important;
  height: 60%;
}

.preloader-wrapper {
  align-self: center;
}
.recipe-action-button {
  height: auto;
}
.recipe-action-button > i {
  font-size: 2rem !important;
}
.card-action-button {
  height: 2rem;
}
.card-action-button > i {
  font-size: 1.5rem !important;
  line-height: normal !important;
}
#saved-recipes {
  display: flex;
  overflow-x: auto;
  height: 4rem;
  padding: 10px;
  white-space: nowrap
}
#saved-recipes > .chip {
  display: flex;
  height: 40px !important;
  font-size: 15px !important;
  border: double !important;
  background-color: transparent;
  color:  #004d40
}
#saved-recipes > .chip:active, .chip:target, .chip.focus{
background-color: darkseagreen;
color: white;
box-shadow: 1px 1px 6px 1px darkgreen;
}
#saved-recipes > .chip > img {
  height: 100% !important;
  width: 37px !important;
  border-radius: 37% !important;
}
#saved-recipes > .chip > div {
  display: flex;
  width: max-content;
  white-space: normal;
  line-height: initial;
  align-items: center;
  font-size: .7rem;
}
.collapsible {
width: 100%;
box-shadow: unset !important;
border-right: unset !important;
border-left: unset !important;
}
.collapsible-header{
  padding: .5rem !important;
  font-family: Oregano;
  box-shadow: 0px 1px 4px #ddd;
  border-bottom: unset !important;
  color: #004d40;
}
.collapsible-body{
  padding: 0 !important;
  border-bottom: unset !important;
}
.highlighted {
  background-color: darkseagreen !important;
  box-shadow: 1px 1px 9px 1px darkseagreen;
}
.alert {
  position: absolute !important;
  bottom: 3rem;
  left: 1.5rem;
  margin: auto !important;
  width: 90%;
}
@media screen and (max-width: 767px) {
  #recipe-list {
    grid-auto-columns: 47%;
  }
  /* .recipe-button {
    width: 35%;
  } */
  #mobile-nav li nav .brand-logo {
    left: 4rem !important;
    -webkit-transform: unset !important;
    transform: unset !important;
  }
  /* .tabs-container > .row {
    height: 85%;
  } */
}
